<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Подбор фильмов и сериалов-Chipseki</title>
  <style>  
      body {
              font-family: cambria;
              color:1a1818;
              font-weight:550 ;
              height: 1200px; 
              background-image: url(../static/fon9.jpg);
              background-size: auto;
              background-repeat: no-repeat;
              background-color: #e3dfdf;
    }
    h1 {
      text-align: center;
    }

    h2 {
      text-align: center;
    }
    .container {
      width: 1000px;
      margin: 0 auto;
      padding: 10px;
    }
  </style>
</head>
<body>
  
<!-- <img src="{{url_for('static', filename='fon9.jpg')}}" align="middle" /> -->
  <h1>Chipseki</h1>
  <h2> Сервис по подбору фильмов </h2>
   <div class="container">
    <form action="/req" method="POST">
      <p>Укажите ваши предпочтения ниже:</p>
      <p>1. Какой жанр Вы хотите посмотреть?</p>
      <input type="checkbox" name="genre" value="Аниме"> Аниме<br />
      <input type="checkbox"name="genre" value="Биография"> Биография<br />
      <input type="checkbox"name="genre" value="Боевик"> Боевик<br />
      <input type="checkbox"name="genre" value="Военный"> Военный<br />
      <input type="checkbox"name="genre" value="Детектив"> Детектив<br />
      <input type="checkbox"name="genre" value="Детский"> Детский<br />
      <input type="checkbox"name="genre" value="Документальный"> Документальный<br />
      <input type="checkbox"name="genre" value="Драма"> Драма<br />
      <input type="checkbox"name="genre" value="История"> История<br />
      <input type="checkbox"name="genre" value="Комедия"> Комедия<br />
      <input type="checkbox"name="genre" value="Криминал"> Криминал<br />
      <input type="checkbox"name="genre" value="Мелодрамы"> Мелодрамы<br />
      <input type="checkbox"name="genre" value="Мультфильм"> Мультфильм<br />
      <input type="checkbox"name="genre" value="Мюзикл"> Мюзикл<br />
      <input type="checkbox"name="genre" value="Приключения"> Приключения<br />
      <input type="checkbox"name="genre" value="Семейный"> Семейный<br />
      <input type="checkbox"name="genre" value="Сериал"> Сериал<br />
      <input type="checkbox"name="genre" value="Спорт"> Спорт<br />
      <input type="checkbox"name="genre" value="Триллер"> Триллер<br />
      <input type="checkbox"name="genre" value="Ужасы"> Ужасы<br />
      <input type="checkbox"name="genre" value="Фантастика"> Фантастика<br />
      <input type="checkbox"name="genre" value="Фэнтези"> Фэнтези <br />

      <p>2. Производство какой страны предпочитаете?</p>
      <input type="checkbox" name="country" value="Россия"> Россия <br />
      <input type="checkbox"name="country" value="США"> США <br />
      <input type="checkbox"name="country" value="СССР"> СССР <br />
      <input type="checkbox"name="country" value="Австралия"> Австралия <br />
      <input type="checkbox"name="country" value="Австрия"> Австрия <br />
      <input type="checkbox"name="country" value="Азербайджан"> Азербайджан <br />
      <input type="checkbox"name="country" value="Аргентина"> Аргентина <br />
      <input type="checkbox"name="country" value="Армения"> Армения <br />
      <input type="checkbox"name="country" value="Бельгия"> Бельгия <br />
      <input type="checkbox"name="country" value="Бразилия"> Бразилия <br />
      <input type="checkbox"name="country" value="Великобритания"> Великобритания <br />
      <input type="checkbox"name="country" value="Германия"> Германия <br />
      <input type="checkbox"name="country" value="Египет"> Египет <br />
      <input type="checkbox"name="country" value="Индия"> Индия <br />
      <input type="checkbox"name="country" value="Испания"> Испания <br />
      <input type="checkbox"name="country" value="Италия"> Италия <br />
      <input type="checkbox"name="country" value="Канада"> Канада <br />
      <input type="checkbox"name="country" value="Казахстан"> Казахстан <br />
      <input type="checkbox"name="country" value="Китай"> Китай <br />
      <input type="checkbox"name="country" value="Корея Южная"> Корея Южная <br />
      <input type="checkbox"name="country" value="Мексика"> Мексика <br />
      <input type="checkbox"name="country" value="Новая Зеландия"> Новая Зеландия <br />
      <input type="checkbox"name="country" value="Польша"> Польша <br />
      <input type="checkbox"name="country" value="Румыния"> Румыния <br />
      <input type="checkbox"name="country" value="Турция"> Турция <br />
      <input type="checkbox"name="country" value="Украина"> Украина <br />
      <input type="checkbox"name="country" value="Франция"> Франция <br />
      <input type="checkbox"name="country" value="Швеция"> Швеция <br />
      <input type="checkbox"name="country" value="Япония"> Япония <br />
      
      <p>3. Год или интервал выхода на экраны</p>
      <p>C <input type="number" min="1930" value="1930" name="min_year"> по <input type="number" max="2021" value="2021" name="max_year"></p>
      
      <p>4. Метод просмотра</p>
      <input type="radio" name="watch" value="w1"> Оригинальный язык<br />
      <input type="radio" name="watch" value="w2"> Озвучка <br />

      <p>Нужны ли субтитры?</p>
      <input list="subt" id="mysubt" name="mysubt" />
      <datalist id="subt">
        <option value="Да">
        <option value="Нет">
      </datalist>

      <button type="submit">Отправить</button>
    </form>
      
    <p>© 2021 ANKV. Все права защищены.</p>
 </div>
  </body>
</html>