<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Найденные фильмы и сериалы - Chipseki</title>
    <style>  
        body {
                font-family: cambria;
                color:1a1818;
                font-weight:550 ;
                font-size: larger;
                margin-left: 200px;
                line-height: 1.5;
                height: 1200px; 
                background-image: url(../static/fon9.jpg);
                background-size: auto;
                background-repeat: no-repeat;
                background-color: white;

      }
      h1 {
        text-align: center;

      }
  
      .container {
        width: 1000px;
        margin: 0 auto;
        padding: 10px;
      }
      .fig {
        text-align: center; /* Выравнивание по центру */ 
      }
    </style>
</head>
<body>


    {% if films%}
        {% set list = films.split(';') %}
        
        <h1>Фильмы
            {% if genre %}
                c {{ genre }} 
            {% endif %}  

            {% if country %}
                ИЗ {{ country }} 
            {% endif %} 
           </h1>
        <ol>
            {% for item in list %}
                <li> {{ item }} </li>
            {% endfor %}
        </ol> 
    {% else %}
        <h1>Фильмы
             {% if genre %}
                 c {{ genre }} 
             {% endif %}  

             {% if country %}
                 ИЗ {{ country }} 
             {% endif %} 
            не найдены</h1>
           <p class="fig"> <img src="../static/cat.jpg" width="700" height="450" alt="lorem">
    {% endif %}
</body>
</html>